@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Questrial:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Questrial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth !important;
}

h1 {
  font-weight: 500;
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 30px !important;
  }
}
